default:
  image: $CI_REGISTRY_IMAGE/dev-enviroment:$CI_COMMIT_BRANCH$CI_COMMIT_TAG$CI_MERGE_REQUEST_ID

cache:
  key: "${CI_COMMIT_SHA}"
  paths:
    - .venv

stages:
  - distribute

gitlab:
  stage: distribute
  script:
    - ./do script util/build_helper.py --gitlab_release --asset_links {% for tag, triple in tags%}"{{triple}}" {% endfor %}
    # auto saltstack deploy
  rules:
    - if: $CI_COMMIT_REF_PROTECTED && $CI_COMMIT_TAG == null
      when: manual